.hidden
{
	display: none;
}

#container
{
	width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	/*margin top and bottom 0, margin left and right equal*/
}

h2
{
	font-family: 'Archivo Black', sans-serif;
}

h3
{
	font-family: 'Roboto', sans-serif;
}

h2
{
	font-size: 48px;
	font-weight: 700;
}

h3
{
	font-size: 24px;
	font-weight: 200;
}


#topPic {

	width: 960px;
	margin: 40 auto;
	/*margin top and bottom 0, margin left and right equal*/
}

.mainHeader {
  position: relative;
  text-align: center;
  color: white;
}

#centered {
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quotation p{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	width: 900px;
	font-size: 20px;
	margin: 0 auto;
	padding-top: 40px;
}